@model List<Customer>
@{
    ViewData["Title"] = "Data List";
}

<style>
table, th, td {
    border: 1px solid black;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Title"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <div style="float: left;">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Income</th>
            </tr>
            @for (int i = 0; i < @Model.Count; i++){
                <tr>
                    <td>@Model[i].Id</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Income</td>
                </tr>
            } 
        </table>
    </div>

    <div style="margin-left: 200px;">
        <input type="text" placeholder="Name" id="name">
        <input type="number" placeholder="Income" id="income">

        <Button type="submit">Send</Button>
    </div>
</div>