@model List<Customer>

@{
    ViewData["Title"] = "Get List";
}

<style>
table, th, td {
    border: 1px solid black;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Title"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="margin-left: 27%;">
    <div style="float: left;">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Income</th>
            </tr>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.Income</td>
                </tr>
            }
        </table>
    </div>

    <div style="margin-left: 200px;">

    </div>
</div>
@* 
@section scripts{
    <script>
        alert('@ViewBag.Message');
    </script>   
} *@